<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.horserun.user.dao.mysql.RegisterMapper" >

    <select id="getUserByPho" resultType="java.lang.Integer">
        SELECT count(1) FROM guser WHERE phoNum = #{phoNum}
    </select>

    <insert id="register" parameterType="com.horserun.user.model.RegisterUser">
        insert guser(id,phoNum,loginName,password,userType) VALUES (#{registerUser.id},#{registerUser.phoNum},
        #{registerUser.loginName},#{registerUser.password},#{registerUser.userType});
    </insert>

    <select id="mnsExit" parameterType="java.lang.String">
        SELECT COUNT(1) FROM smscode WHERE  phoNume=#{phoNum}
    </select>

    <insert id="insertSmsCode">
        INSERT into smscode(phoNume,code,createTime) VALUES (#{phoNum},#{code},CURRENT_DATE);
    </insert>

    <update id="updateSmsCode">
        UPDATE smscode set code=#{code},createTime=CURRENT_DATE where phoNume=#{phoNum};
    </update>

    <select id="getCodeByPhoNum" resultType="java.lang.String">
        SELECT code FROM smscode WHERE phoNume=#{phoNum};
    </select>

</mapper>